---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"...","expires_in":28800,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Thu, 13 Aug 2020 11:07:37 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/search/companies?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9946'
      X-Ratelimit-Reset:
      - '1601539.7537174'
    body:
      encoding: UTF-8
      string: '{"total":10000,"items":[{"id":"MNDEJO42","companyType":"Venture Capital","name":"AllClear
        ID, Inc.","informalName":"AllClear ID","website":"https://www.allclearid.com","domain":"allclearid.com","description":"AllClear
        ID, Inc. provides identity repair, protection, and monitoring services for
        customer security to Fortune 500 companies and government agencies. Its identity
        repair services include expert support, 360-degree Scan, fraud resolution,
        and preventive measures.","foundingYear":2004,"location":"Austin, Texas, United
        States, 78701","city":"Austin","state":"Texas","postalCode":"78701","country":"United
        States","parentCompanyDomain":null,"phoneNumber":"855-434-8077","specialties":["identity
        protection","identity repair","credit monitoring","customer security","digital
        identity","secure authentication","employee benefits","fraud resolution","dark
        web monitoring","customer service","fraud alerts","enterprisesoftware","networksolutions",""],"facebook":"https://www.facebook.com/allclearid","twitter":"https://twitter.com/allclearid","crunchbase":"https://www.crunchbase.com/organization/allclear-id","linkedIn":"https://www.linkedin.com/company/allclear-id/about","totalAmountInvested":9300000,"currentEmployeeCount":98,"currentEmployeeRange":"51-200","currentJobOpenings":0,"investors":"Alliance
        Venture, Experian, Level39, Merus Capital, Runway Growth Capital, LLC, Trellis
        Partners","personalTags":[],"firmTags":[]},{"id":"0VD15LX3","companyType":"Private
        Sub","name":"Kroll Associates, Inc.","informalName":"Kroll Associates","website":"https://www.kroll.com","domain":"kroll.com","description":"Kroll
        Associates, Inc. provides risk mitigation and response intelligence solutions
        and insights for protecting companies, assets, and people around the world.
        The company offers investigations in the areas of fraud and internal investigations,
        financial investigations, cybe[...]
