---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"....","expires_in":28800,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Tue, 11 Aug 2020 14:55:19 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/companies/monday.com/employeerange
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9958'
      X-Ratelimit-Reset:
      - '1760678.4880966'
    body:
      encoding: UTF-8
      string: '[{"employeeRange":"201-500","date":"2019-12-27"},{"employeeRange":"201-500","date":"2020-01-16"},{"employeeRange":"201-500","date":"2020-02-28"},{"employeeRange":"201-500","date":"2020-03-27"},{"employeeRange":"201-500","date":"2020-04-30"},{"employeeRange":"501-1000","date":"2020-06-24"},{"employeeRange":"501-1000","date":"2020-08-10"}]'
  recorded_at: Tue, 11 Aug 2020 14:55:20 GMT
recorded_with: VCR 6.0.0
