---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"xxxxxxxxxx","expires_in":3600,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Mon, 17 Jun 2024 09:24:48 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/companies/XWO6N4OP/employees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json-patch+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1175709.6353952'
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '45207'
      X-Ratelimit-Companytrendslimit:
      - '50000'
      X-Ratelimit-Companytrendsremaining:
      - '49998'
      X-Traceid:
      - '5263349197460750392'
    body:
      encoding: UTF-8
      string: '[{"count":5,"date":"2016-05-03"},{"count":4,"date":"2018-12-21"},{"count":4,"date":"2019-04-02"},{"count":4,"date":"2019-06-07"},{"count":3,"date":"2019-08-15"},{"count":4,"date":"2019-09-13"},{"count":4,"date":"2019-10-13"},{"count":5,"date":"2019-11-12"},{"count":5,"date":"2019-12-12"},{"count":5,"date":"2020-01-12"},{"count":4,"date":"2020-02-12"},{"count":4,"date":"2020-03-25"},{"count":6,"date":"2020-05-12"},{"count":6,"date":"2020-07-04"},{"count":7,"date":"2020-08-24"},{"count":8,"date":"2020-09-26"},{"coun[...]
