---
http_interactions:
- request:
    method: get
    uri: https://api.sourcescrub.com/companies/ekohe.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '81'
      X-Ratelimit-Reset:
      - '904520.3967334'
    body:
      encoding: UTF-8
      string: '{"id":"LZ281NVD","companyType":"Private","name":"Ekohe, Ltd.","informalName":"Ekohe","website":"https://ekohe.com","domain":"ekohe.com","description":"Ekohe,
        Ltd. is a cutting-edge web and mobile design and development agency. It specialize
        in digital strategy, innovative technology and user-centered design experiences
        from conceptualization to market launch.","foundingYear":2007,"location":"Xinzhuang,
        Shanghai Shi, China","city":"Xinzhuang","state":"Shanghai Shi","postalCode":null,"country":"China","parentCompanyDomain":null,"phoneNumber":"","specialties":["IT
        & Startup Consulting","Ruby on Rails leaders","Intelligent Web & Mobile Development","Usable
        Web & Mobile design","UX or UI Design","Artificial Intelligence","Machine
        Learning","Data Sourcing","FinTech Tools"],"facebook":null,"twitter":null,"crunchbase":null,"linkedIn":"https://www.linkedin.com/company/ekohe","totalAmountInvested":0,"currentEmployeeCount":41,"currentEmployeeRange":"11-50","currentJobOpenings":0,"investors":null,"personalTags":[],"firmTags":[]}'
  recorded_at: Sat, 20 Jun 2020 12:44:38 GMT
recorded_with: VCR 6.0.0
