---
http_interactions:
- request:
    method: get
    uri: https://api.sourcescrub.com/companies/ekohe.com/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '80'
      X-Ratelimit-Reset:
      - '904415.7543763999'
    body:
      encoding: UTF-8
      string: '{"total":5,"items":[{"id":"QL9V52ED","officialTitle":"Artificial Intelligence
        Exhibition & Conference (AI EXPO) 2020","nickname":"AIEXPO2020","sourceType":"Industry
        Conference","city":"Mihama","state":"Chiba-ken","country":"Japan","startDate":"2020-10-28","endDate":"2020-10-30","companyCount":175,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":"Exhibitor","rank":null},{"id":"QL9Y6YVD","officialTitle":"Big
        Data and AI Toronto 2019","nickname":"BigDataAIToronto2019","sourceType":"Industry
        Conference","city":"Toronto","state":"Ontario","country":"Canada","startDate":"2019-06-12","endDate":"2019-06-13","companyCount":125,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":"Speaker","rank":null},{"id":"ED47XN8D","officialTitle":"Clutch:
        Top New York iOS App Developers 2019","nickname":"Clutch:TopNYiOSAppDevelopers2019","sourceType":"Top
        List","city":null,"state":null,"country":null,"startDate":"2019-10-21","endDate":"2019-10-21","companyCount":237,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":null,"rank":null},{"id":"6O2W454D","officialTitle":"Angel
        List: China Startups","nickname":"Angelco_ChinaStartups","sourceType":"Buyers
        Guide","city":null,"state":null,"country":null,"startDate":"2018-08-14","endDate":"2018-08-14","companyCount":261,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":null,"rank":null},{"id":"NLJ9Y04O","officialTitle":"Viva
        Technology 2020","nickname":"VivaTech2020","sourceType":"Industry Conference","city":"Paris","state":"Ile-de-France","country":"France","startDate":"2020-06-11","endDate":"2020-06-13","companyCount":567,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":"Partner","rank":null}]}'
  recorded_at: Sat, 20 Jun 2020 12:46:23 GMT
recorded_with: VCR 6.0.0
