---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"......","expires_in":28800,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Tue, 28 Jul 2020 13:31:06 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/companies/ekohe.com/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '8604'
      X-Ratelimit-Reset:
      - '296932.128797'
    body:
      encoding: UTF-8
      string: '{"total":5,"items":[{"id":"QL9Y6YVD","officialTitle":"Big Data and
        AI Toronto 2019","nickname":"BigDataAIToronto2019","sourceType":"Industry
        Conference","city":"Toronto","state":"Ontario","country":"Canada","startDate":"2019-06-12","endDate":"2019-06-13","companyCount":0,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":"Speaker","rank":null},{"id":"ED47XN8D","officialTitle":"Clutch:
        Top New York iOS App Developers 2019","nickname":"Clutch:TopNYiOSAppDevelopers2019","sourceType":"Top
        List","city":null,"state":null,"country":null,"startDate":"2019-10-21","endDate":"2019-10-21","companyCount":0,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":null,"rank":null},{"id":"QL9V52ED","officialTitle":"Artificial
        Intelligence Exhibition & Conference (AI EXPO) 2020","nickname":"AIEXPO2020","sourceType":"Industry
        Conference","city":"Mihama","state":"Chiba-ken","country":"Japan","startDate":"2020-10-28","endDate":"2020-10-30","companyCount":0,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":"Exhibitor","rank":null},{"id":"6O2W454D","officialTitle":"Angel
        List: China Startups","nickname":"Angelco_ChinaStartups","sourceType":"Buyers
        Guide","city":null,"state":null,"country":null,"startDate":"2018-08-14","endDate":"2018-08-14","companyCount":0,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":null,"rank":null},{"id":"NLJ9Y04O","officialTitle":"Viva
        Technology 2020","nickname":"VivaTech2020","sourceType":"Industry Conference","city":"Paris","state":"Ile-de-France","country":"France","startDate":"2020-06-11","endDate":"2020-06-13","companyCount":0,"companiesCrmCount":0,"companiesTaggedCount":0,"boothNumber":null,"affiliation":"Partner","rank":null}]}'
  recorded_at: Tue, 28 Jul 2020 13:31:07 GMT
recorded_with: VCR 6.0.0
