---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"......","expires_in":28800,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Tue, 28 Jul 2020 13:31:08 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/companies/ekohe.com/people
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '8603'
      X-Ratelimit-Reset:
      - '296930.1145039'
    body:
      encoding: UTF-8
      string: '{"totalPeople":2,"peopleAllocations":[{"personId":"LWMK5XGD","firstName":"Maxime","middleName":null,"lastName":"Guilbot","linkedIn":"https://www.linkedin.com/in/maximeguilbot","startDate":"2007-01-01","endDate":null,"email":"maxime@ekohe.com","emailConfirmed":true,"title":"CEO","role":"Founder"},{"personId":"WO65ME4L","firstName":"Maggie","middleName":null,"lastName":"Meng","linkedIn":"https://www.linkedin.com/in/mengmaggie","startDate":"2016-05-01","endDate":null,"email":"maggie@ekohe.com","emailConfirmed":true,"title":"COO","role":"Employee"}]}'
  recorded_at: Tue, 28 Jul 2020 13:31:09 GMT
recorded_with: VCR 6.0.0
