---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"......","expires_in":3600,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Mon, 17 Jun 2024 08:57:45 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/companies/XWO6N4OP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json-patch+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1177332.4685607'
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '45209'
      X-Ratelimit-Companybasicslimit:
      - '50000'
      X-Ratelimit-Companybasicsremaining:
      - '49997'
      X-Traceid:
      - '1391634831206410529'
    body:
      encoding: UTF-8
      string: '{"id":"XWO6N4OP","companyType":"Private","name":"nNovation, LLP","informalName":"nNovation","website":"https://nnovation.com","domain":"nnovation.com","description":"nNovation,
        LLP is a law practice company. The company provides its clients with expertise
        and service. It offers its services in Canada.","foundingYear":2010,"location":"Ottawa,
        Ontario, Canada, K1P 5J6","city":"Ottawa","state":"Ontario","postalCode":"K1P
        5J6","country":"Canada","parentCompanyDomain":null,"phoneNumber":"613-225-2906","specialties":["privacy
        and data protection","cybersecurity","marketing and advertising","access to
        information","consumer protection","ecommerce","technology","intellectual
        property","regulated products","in-house counsel services"],"facebook":"https://www.facebook.com/nnovationllp","twitter":"https://twitter.com/nnovationllp","crunchbase":"https://www.crunchbase.com/organization/nnovation#section-overview","linkedIn":"https://www.linkedin.com/company/nnovation-llp","totalAmountInvested":0,"currentEmployeeCount":11,"threeMonthsGrowthRate":null,"sixMonthsGrowthRate":null,"nineMonthsGrowthRate":null,"twelveMonthsGrowthRate":null,"currentEmployeeRange":"1-10","currentJobOpenings":null,"growthIntent":null,"investors":"","personalTags":[],"firmTags":[],"customScore":null,"industries":["Law
        Practice & Legal Services"],"modifiedDate":"2024-06-08","endMarkets":["Business
        Services","Finance","Healthcare"],"productsAndServices":["Legal Services"]}'
  recorded_at: Mon, 17 Jun 2024 08:57:46 GMT
recorded_with: VCR 6.0.0
