---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"....","expires_in":28800,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Tue, 04 Aug 2020 09:08:26 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/sources/sources?limit=100&offset=0&sourceStatus=None
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9982'
      X-Ratelimit-Reset:
      - '2386291.7749626'
    body:
      encoding: UTF-8
      string: '{"total":10000,"items":[{"id":"VDM8K99D","officialTitle":"Vancouver
        BC CISO Virtual Town Hall 2020","nickname":"CISOVancouverBC2020","sourceType":"Virtual
        Conference","city":null,"state":null,"country":null,"startDate":"2020-08-04","endDate":"2020-08-04","status":"None","reviewStatus":[],"companyCount":0,"companiesCrmCount":0,"companiesTaggedCount":0},{"id":"NLJ9XPGO","officialTitle":"Asia
        Pacific Initiative on Reproduction (ASPIRE) 2020","nickname":"ASPIRE2020","sourceType":"Industry
        Conference","city":"Pasay","state":"National Capital Region","country":"Philippines","startDate":"2020-08-04","endDate":"2020-08-07","status":"None","reviewStatus":[],"companyCount":0,"companiesCrmCount":0,"companiesTaggedCount":0},{"id":"4OVVKQ6O","officialTitle":"Symposium
        on Counterfeit Parts and Materials 2020","nickname":"SCPM2020[...]
