---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"....","expires_in":28800,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Mon, 03 Aug 2020 15:50:27 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/sources/7LNWERLR/companies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
    body:
      encoding: UTF-8
      string: Internal Server Error
  recorded_at: Mon, 03 Aug 2020 15:50:31 GMT
recorded_with: VCR 6.0.0
