---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=username&password=password&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":".....","expires_in":28800,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Mon, 03 Aug 2020 15:44:53 GMT
- request:
    method: get
    uri: https://api.sourcescrub.com/sources/7LNWERLR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9997'
      X-Ratelimit-Reset:
      - '2448901.023762'
    body:
      encoding: UTF-8
      string: '{"id":"7LNWERLR","officialTitle":"Software Magazine 2014 Software 500","nickname":"Softmag14top500","sourceType":"Top
        List","city":null,"state":null,"country":null,"startDate":"2014-12-31","endDate":"2014-12-31","status":"None","reviewStatus":[],"companyCount":0,"companiesCrmCount":0,"companiesTaggedCount":0}'
  recorded_at: Mon, 03 Aug 2020 15:44:58 GMT
recorded_with: VCR 6.0.0
