---
http_interactions:
- request:
    method: post
    uri: https://identity.sourcescrub.com/connect/token
    body:
      encoding: UTF-8
      string: grant_type=password&username=xxx&password=xxx&scope=client_api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"xxx","expires_in":28800,"token_type":"Bearer","scope":"client_api"}'
  recorded_at: Thu, 14 Jan 2021 05:24:31 GMT
- request:
    method: post
    uri: https://api.sourcescrub.com/search/sources
    body:
      encoding: UTF-8
      string: '{"limit":10,"offset":0,"orderBy":"endDate DESC"}'
    headers:
      Content-Type:
      - application/json-patch+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49579'
      X-Ratelimit-Reset:
      - '1535727.2023869'
    body:
      encoding: UTF-8
      string: '{"total":10000,"items":[{"id":"4OV68R0D","officialTitle":"Microbiome
        R&D and Business Collaboration Forum Europe 2019","nickname":"MR&DBCFEU2019","sourceType":"Industry
        Conference","city":"London","state":"England","country":"United Kingdom","startDate":"2019-05-20","endDate":"2109-05-22","status":"None","reviewStatus":[],"companyCount":91,"companiesCrmCount":0,"companiesTaggedCount":0},{"id":"NLJ8E07L","officialTitle":"Marketing
        Show North 2019","nickname":"MarketingShowNorth2019","sourceType":"Industry
        Conference","city":"Manchester","state":"England","country":"United Kingdom","startDate":"2019-02-27","endDate":"2109-02-28","status":"None","reviewStatus":[],"companyCount":93,"companiesCrmCount":0,"companiesTaggedCount":0},{"id":"7LN6840L","officialTitle":"Plastic
        Surgery The Meeting 2028","nickname":"PlasticSurgeryTheMeeting2028","sourceType":"Indu[...]
